{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <h2 class="mb-4">{{ .Title | markdownify }}</h2>
        <div class="content">{{ .Content }}</div>
        <form
    action="https://formspree.io/f/xjvplqna"
    method="POST"
  >
    <label>
      Your email:
      <input type="text" name="_replyto">
    </label>
    <label>
      Your message:
      <textarea name="message"></textarea>
    </label>

    <!-- your other form fields go here -->

    <button type="submit">Send</button>
  </form>
      </div>
      <div class="col-lg-6 text-md-right">
        <img class="img-fluid" src="{{ .Params.Image | relURL }}" alt="">
      </div>
    </div>
  </div>
</section>

{{ end }}
